button:not([disabled]),
label {
    cursor: pointer;
}

.btn {
    color: white;
    background-color: #ed6a5a;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    box-shadow: 0 0 3px gray;
    cursor: pointer;
}

.btn--big {
    font-size: 1.2rem;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
}

.btn:hover {
    background-color: #eb5846;
}

.btn:disabled {
    background-color: lightgray;
    cursor: initial;
}